*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fbf8f8;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.signInForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    margin-top: 16%;
    height: 430px;
    background: #eceeee;
    border: 1px solid #42464b;
}

.signInForm h1{
    margin: auto;
}

.input{
    border-radius: 15px;
    padding: 10px;
    width: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.label1{
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.signinbtn{
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  margin-left: 90px;
  padding-top:6px;
  position:relative;
  cursor:pointer;
  border-radius:10px;
  box-shadow:0px 2px 2px black;
}

.signin p{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: large;
}
.loginbtn{
    margin-left: 20px;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
    border-radius:10px;
    font-size: large;
    width: 100px;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    padding-top:6px;
    box-shadow:0px 2px 2px black;
}
small{
    margin-left: 100px;
    color: red;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
h6{
    margin-left: 100px;
    color: red;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}




