*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fbf8f8;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.signInForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    margin-top: 16%;
    height: 430px;
    background: #eceeee;
    border: 1px solid #42464b;
}

.signInForm h1{
    margin-left: 170px;
}

.input{
    border-radius: 15px;
    padding: 10px;
    width: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.loginfield h1{
  margin-left: 170px;
}

.loginfield p{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: large;
}

.loginfield button{
    margin-left: 20px;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
    background-color:#37a69b;
    color: #fff;
    border:none;
    border-radius:10px;
    font-size: large;
    width: 100px;
    text-shadow:1px 1px 0px #37a69b;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    font-weight:bold;
    padding-top:6px;
    cursor:pointer;
    border: none; 
    text-align:center;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.label1{
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: large;
}

.signinbtn{
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  margin-left: 90px;
  padding-top:6px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #37a69b;
  border-radius:10px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.signin p{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: large;
}
.loginbtn{
    margin-left: 20px;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
    background-color:#37a69b;
    color: #fff;
    border:none;
    border-radius:10px;
    font-size: large;
    width: 100px;
    text-shadow:1px 1px 0px #37a69b;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    font-weight:bold;
    padding-top:6px;
    cursor:pointer;
    border: none; 
    text-align:center;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}



