*{
    margin: 0;
    box-sizing: border-box;
}

table{
    border: 2px solid black;
    margin: auto;
    width: 500px;
    height: 100px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}

td{
    border: 2px solid black;
    text-align: center;
    padding: 12px 15px;
}

th{
    border: 2px solid black;
    border-bottom: 1px solid black;
    padding: 12px 15px;
}

tr{
    background-color: white;
    color: black;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.book-btn{
    font-size: 12px;
    padding: 5px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.btn{
    font-size: 12px;
    padding: 5px;
    position: absolute;
    top: 3px;
    right: 3px;
    color: black;
    border-radius: 3px;
    cursor: pointer;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.search-box{
    border-radius: 15px;
    padding: 10px;
    width: 400px;
    margin-left: 50px;
    margin-bottom: 80px;
}

.search-btn{
    font-size: 12px;
    padding: 10px;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 15px;
}