.sideBar{
    width: 70px;
    height: 100%;
    background:white;
    border-right: 2px solid #ececec;
    top: 0;
    left: 0;
    position: fixed;
    padding-top: 20px;
}

.sideBar ul {
    display: contents;
    list-style-type: none;
    line-height: 3;
}

.icon{
    height: 45px;
    width: auto;
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 15px;
    border-radius: 15px;
}
.icon:hover{
    background-color: gainsboro;
    transition: .5s;
}
.icon.active{
    background-color: gainsboro;
}